Pillow>=9.0.0
PyGithub
aiofiles
aiohttp
aria2p
beautifulsoup4
bs4
bwb==3.0.0
cfscrape
cryptg
dnspython
emoji
gTTS>=2.3.1
gitpython
google-api-python-client>=2.0.0
google-auth-oauthlib
hachoir
httplib2
humanize
lxml
oauth2client
psycopg2-binary
pySmartDL
pybase64>=0.5.0
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests>=2.25.0
selenium
speedtest-cli
sqlalchemy>=1.4.0
telegraph
urbandict
wikipedia>=1.4.0
yt-dlp
